*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 10px 5px;
    position: relative;
}

a {
    text-decoration: none;
    color: #ff004f;
    position: relative;
}

a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

a:hover::after {
    width: 100%;
}