$font-size-14: 14px;
$font-size-16: 16px;
$font-size-12: 12px;

body {
    font-size: $font-size-14;
    h1 {
        font-size: $font-size-16;
    }
    h1.smaller {
        font-size: $font-size-12;
    }
}